#the_calculator {
    position: relative;
    width: 65vw;
    height: 50vh;
}
.operator-side {
    position: absolute;
    left: 83%;
    top: 24%;
}
.button-container {
    border: solid black 2px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 22%;
    padding: 1em;
    background-color: #515151;
}
.numbers {
    position: relative;
}
.button-container button{
    width: 25%;
    margin: 2px;
}
.display {
    border: solid 2px black;
    text-align: right;
    display: inline-block;
    width: 25vw;
    height: 6vh;
    position: absolute;
    top: 13vh;
    left: 23%;
    background-color: #cccccc;
}
.historycontainer {
    position: relative;
    bottom: 40vh;
}.history_box{
    overflow: scroll;
    height: 30vh;
 }